# All Data related Works are done here

## MSA -> ZIP dataset

In [34]:
!pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (0.3.8)
Requirement already satisfied: packaging in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from kagglehub) (23.2)
Requirement already satisfied: requests in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from requests->kagglehub) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from tqdm->kagglehub) (0.4.6)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [35]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("haakakak/msabyzip")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\navee\.cache\kagglehub\datasets\haakakak\msabyzip\versions\1

In [36]:
import pandas as pd
import sqlite3

In [37]:
df = pd.read_csv("./msatozip.csv")
display(df.columns)
df.head()

Index(['ZIP', 'STATE', 'MSA', 'County', 'Addr'], dtype='object')

   ZIP STATE      MSA  County                                Addr
0  210    NH  14460.0    15.0  Boston-Cambridge-Quincy, MA-NH MSA
1  211    NH  14460.0    15.0  Boston-Cambridge-Quincy, MA-NH MSA
2  212    NH  14460.0    15.0  Boston-Cambridge-Quincy, MA-NH MSA
3  213    NH  14460.0    15.0  Boston-Cambridge-Quincy, MA-NH MSA
4  214    NH  14460.0    15.0  Boston-Cambridge-Quincy, MA-NH MSA

In [38]:
df.isnull().sum()

ZIP        0
STATE      0
MSA       11
County    12
Addr      11
dtype: int64

In [39]:
df.dropna(inplace=True)
df.isnull().sum()

ZIP       0
STATE     0
MSA       0
County    0
Addr      0
dtype: int64

In [46]:
df[['County', 'MSA', "ZIP"]] = df[['County', 'MSA', "ZIP"]].astype(pd.Int64Dtype())

In [47]:
display(df.describe())
display(df.info())

                ZIP           MSA      County
count       43496.0       43496.0     43496.0
mean   49387.932385  57470.013358   95.370264
std    28241.042002  35275.972422  114.354357
min           210.0           0.0         1.0
25%         25384.0       28100.0        29.0
50%         48504.5       41940.0        67.0
75%        73077.25       99022.0       117.0
max         99950.0       99078.0       840.0

<class 'pandas.core.frame.DataFrame'>
Index: 43496 entries, 0 to 43507
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ZIP     43496 non-null  Int64
 1   STATE   43496 non-null  object
 2   MSA     43496 non-null  Int64
 3   County  43496 non-null  Int64
 4   Addr    43496 non-null  object
dtypes: Int64(3), object(2)
memory usage: 2.1+ MB

None

In [48]:
conn = sqlite3.connect('msatozip.db')
df.to_sql('data_table', conn, if_exists='replace', index=False)

43496

In [49]:
df_first_10 = pd.read_sql_query("SELECT * FROM data_table LIMIT 10", conn)
df_first_10

   ZIP STATE    MSA  County                                               Addr
0  210    NH  14460      15                 Boston-Cambridge-Quincy, MA-NH MSA
1  211    NH  14460      15                 Boston-Cambridge-Quincy, MA-NH MSA
2  212    NH  14460      15                 Boston-Cambridge-Quincy, MA-NH MSA
3  213    NH  14460      15                 Boston-Cambridge-Quincy, MA-NH MSA
4  214    NH  14460      15                 Boston-Cambridge-Quincy, MA-NH MSA
5  215    NH  14460      15                 Boston-Cambridge-Quincy, MA-NH MSA
6  501    NY  35620     103  New York-Northern New Jersey-Long Island, NY-N...
7  544    NY  35620     103  New York-Northern New Jersey-Long Island, NY-N...
8  601    PR  99072       1                            PR NONMETROPOLITAN AREA
9  602    PR  10380       3            Aguadilla-Isabela-San Sebastian, PR MSA

In [50]:
pd.read_sql_query("SELECT COUNT(DISTINCT msa) as 'msa count', count(distinct state) as 'state count', count(distinct county) as 'county count', count(distinct zip) as 'zipcode count' FROM data_table", conn)

   msa count  state count  county count  zipcode count
0        426           62           328          43496

In [51]:
conn.close()